@model IEnumerable<ContosoUniversity.Models.CourseAssignment>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.CourseID, item.InstructorID }) |
                @Html.ActionLink("Details", "Details", new { item.CourseID, item.InstructorID }) |
                @Html.ActionLink("Delete", "Delete", new { item.CourseID, item.InstructorID })
            </td>
        </tr>
}
    </tbody>
</table>
